




<div class="container">

  <div class="row">
    <h2>User component: Test string interpolation {{ keyword }}</h2>
    <div class="card col-12">
      <div class="card-block">
        <h4 class="card-title">My name is: {{name}}. I'm {{age}} years old.</h4>
        <p class="card-text">You can reach at: {{email}}</p>
        <p class="card-text">Address: {{address.street}} {{address.city}}, {{address.state}}</p>
      </div>
    </div>
  </div>



  <div class="row">
    <h2>User component: fetch async user data</h2>
    <div class="card col-6" *ngFor="let user of users; let i = index">
      <img class="card-img-top" src="http://placehold.it/150/92c952" alt="img">
      <div class="card-block">
        <h4 class="card-title">{{ user.name }}</h4>
        <p class="card-text">{{ user.email }}</p>
        <a href="{{ user.website }}" class="btn btn-primary">Go to user website</a>
      </div>
    </div>
  </div>


</div>
