




<div class="container">
  <h3>User component: </h3>


  <div>
    <form (submit)="addHobby(hobby.value)">
      <div>
        <label for="hobby">Hobby:</label>
        <input id="hobby" class="form-control" type="text" #hobby>
      </div>
    </form>

    <ul class="list-group">
      <li class="list-group-item justify-content-between" *ngFor="let hobby of hobbies; let i = index">
        {{i+1}} {{hobby}} <button class="btn btn-danger" (click)="deleteHobby(hobby)">X</button>
      </li>
    </ul>

  </div>

  <div>

    <button class="btn btn-success" (click)="toggleEdit()">Click me to Toggle edit user form</button>
    <div *ngIf=isEdit>
      <form>
        <div>
          <label for="name">Name: </label><br>
          <input id="name" class="form-control" type="text" [(ngModel)]="name" name="name">
        </div>
        <div>
          <label for="age">Age: </label><br>
          <input id="age" class="form-control" type="number" [(ngModel)]="age" name="age">
        </div>
        <div>
          <label for="email">Email: </label><br>
          <input id="email" class="form-control" type="text" [(ngModel)]="email" name="email">
        </div>
        <div>
          <label for="street">Street: </label><br>
          <input id="street" class="form-control" type="text" [(ngModel)]="address.street" name="address.street">
        </div>
        <div>
          <label for="city">City: </label><br>
          <input id="city" class="form-control" type="text" [(ngModel)]="address.city" name="address.city">
        </div>
        <div>
          <label for="state">State: </label><br>
          <input id="state" class="form-control" type="text" [(ngModel)]="address.state" name="address.state">
        </div>
      </form>
    </div>

  </div>


  <div>
    <h4>Test bind click event and update the name field</h4>
    <button class="btn btn-primary" (click)="onClick()">Click me: change the name Tom to Alfred</button>
  </div>

  <h4>Test string interpolation {{ keyword }}</h4>
  <div class="row">
    <div class="card col-12">
      <div class="card-block">
        <h4 class="card-title">My name is: {{name}}. I'm {{age}} years old.</h4>
        <p class="card-text">You can reach at: {{email}}</p>
        <p class="card-text">Address: {{address.street}} {{address.city}}, {{address.state}}</p>
      </div>
    </div>
  </div>


  <h4>fetch async user data</h4>
  <div class="row">
    <div class="card col-6" *ngFor="let user of users; let i = index">
      <img class="card-img-top" src="http://placehold.it/150/92c952" alt="img">
      <div class="card-block">
        <h4 class="card-title">{{ user.name }}</h4>
        <p class="card-text">{{ user.email }}</p>
        <a href="{{ user.website }}" class="btn btn-primary">Go to user website</a>
      </div>
    </div>
  </div>


</div>
